vehicularPlatformGraphicalUserInterface.json
[
    {
        "id": "a11346eba6894f26",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0b972f3b9beb4f5",
        "type": "group",
        "z": "a11346eba6894f26",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "547d9b257e194fc0",
            "425a29a9f9ba2918",
            "cb694b9b6e87ad09",
            "61f1da8e46d62d72",
            "85ffae7bb1fd4758"
        ],
        "x": 94,
        "y": 259,
        "w": 592,
        "h": 222
    },
    {
        "id": "a2c9ad9de93c82f9",
        "type": "group",
        "z": "a11346eba6894f26",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "77e096aefc1f8e3f",
            "f13ac1955dc791ab",
            "be7204a2b105a8f0",
            "a1ddfdf97d654c44",
            "a78a535896c2d4d9",
            "2a9c77b8cde0f3a6",
            "e983190473af9ad8"
        ],
        "x": 94,
        "y": 39,
        "w": 732,
        "h": 202
    },
    {
        "id": "df2c7e55d486c380",
        "type": "group",
        "z": "a11346eba6894f26",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "583380985abee14c",
            "790047e3f67605a8",
            "2cb5d8bd82e8e30f",
            "5a86600c757dbea6",
            "a68b8051dbec0790",
            "9af644fa5792614d",
            "947f803fe8657c96"
        ],
        "x": 94,
        "y": 499,
        "w": 612,
        "h": 262
    },
    {
        "id": "77e096aefc1f8e3f",
        "type": "ui_led",
        "z": "a11346eba6894f26",
        "g": "a2c9ad9de93c82f9",
        "order": 3,
        "group": "4238696af9818047",
        "width": 4,
        "height": 2,
        "label": "",
        "labelPlacement": "right",
        "labelAlignment": "right",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "RED",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "GREEN",
                "valueType": "str"
            },
            {
                "color": "#ffff00",
                "value": "YELLOW",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "f13ac1955dc791ab",
        "type": "ui_gauge",
        "z": "a11346eba6894f26",
        "g": "a2c9ad9de93c82f9",
        "name": "",
        "group": "4238696af9818047",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "40",
        "colors": [
            "#f7c202",
            "#00e608",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "be7204a2b105a8f0",
        "type": "mqtt in",
        "z": "a11346eba6894f26",
        "g": "a2c9ad9de93c82f9",
        "name": "Temperature monitor",
        "topic": "Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "589472f842504b6e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "a1ddfdf97d654c44",
                "f13ac1955dc791ab",
                "e983190473af9ad8",
                "a78a535896c2d4d9"
            ]
        ]
    },
    {
        "id": "a1ddfdf97d654c44",
        "type": "function",
        "z": "a11346eba6894f26",
        "g": "a2c9ad9de93c82f9",
        "name": "function 1",
        "func": "//@ts-ignore\nm=msg.payload;\n//@ts-ignore\nt=msg.topic;\n//@ts-ignore\nif (m<='24'){\n    return { topic: \"LooseTopic\", payload: \"YELLOW\"}\n}\n//@ts-ignore\nelse if (m>='25'){\n    return{ topic: \"LooseTopic\", payload: \"RED\"}\n}\n//@ts-ignore\nelse {\n    return { topic: \"LooseTopic\", payload: \"GREEN\"}\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 160,
        "wires": [
            [
                "77e096aefc1f8e3f",
                "2a9c77b8cde0f3a6"
            ]
        ]
    },
    {
        "id": "a78a535896c2d4d9",
        "type": "debug",
        "z": "a11346eba6894f26",
        "g": "a2c9ad9de93c82f9",
        "name": "Temperature",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "2a9c77b8cde0f3a6",
        "type": "ui_text",
        "z": "a11346eba6894f26",
        "g": "a2c9ad9de93c82f9",
        "group": "4238696af9818047",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 350,
        "y": 200,
        "wires": []
    },
    {
        "id": "e983190473af9ad8",
        "type": "ui_chart",
        "z": "a11346eba6894f26",
        "g": "a2c9ad9de93c82f9",
        "name": "",
        "group": "4238696af9818047",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "20",
        "ymax": "28",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b3751e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "547d9b257e194fc0",
        "type": "mqtt in",
        "z": "a11346eba6894f26",
        "g": "e0b972f3b9beb4f5",
        "name": "",
        "topic": "direction",
        "qos": "2",
        "datatype": "utf8",
        "broker": "589472f842504b6e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "425a29a9f9ba2918",
                "61f1da8e46d62d72",
                "85ffae7bb1fd4758"
            ]
        ]
    },
    {
        "id": "425a29a9f9ba2918",
        "type": "function",
        "z": "a11346eba6894f26",
        "g": "e0b972f3b9beb4f5",
        "name": "function 2",
        "func": "//@ts-ignore\nm=msg.payload;\n//@ts-ignore\nt=msg.topic;\n//@ts-ignore\nif (m=='l'){\n    return { topic: \"LooseTopic\", payload: \"Direction is now : LEFT\"}\n}\n//@ts-ignore\nelse if (m=='r'){\n    return{ topic: \"LooseTopic\", payload: \"Direction is now : RIGHT\"}\n}\n//@ts-ignore\nelse {\n    return { topic: \"LooseTopic\", payload: \"Direction UKNOWN\"}\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 380,
        "wires": [
            [
                "cb694b9b6e87ad09"
            ]
        ]
    },
    {
        "id": "cb694b9b6e87ad09",
        "type": "ui_text",
        "z": "a11346eba6894f26",
        "g": "e0b972f3b9beb4f5",
        "group": "bca4d37cd19606d0",
        "order": 1,
        "width": 8,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 370,
        "y": 440,
        "wires": []
    },
    {
        "id": "61f1da8e46d62d72",
        "type": "debug",
        "z": "a11346eba6894f26",
        "g": "e0b972f3b9beb4f5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "85ffae7bb1fd4758",
        "type": "ui_template",
        "z": "a11346eba6894f26",
        "g": "e0b972f3b9beb4f5",
        "group": "bca4d37cd19606d0",
        "name": "",
        "order": 3,
        "width": 5,
        "height": 6,
        "format": "<div style=\"position: relative; width: 100px; height: 100px;\">\n    <div class=\"arrow left\" ng-class=\"{glow: direction === 'l'}\"></div>\n    <div class=\"arrow right\" ng-class=\"{glow: direction === 'r'}\"></div>\n</div>\n\n<style>\n    .arrow {\n        position: absolute;\n        top: 50%;\n        transform: translateY(-50%);\n        width: 0;\n        height: 0;\n        border-style: solid;\n        display: inline-block;\n    }\n\n    .left {\n        border-width: 10px 20px 10px 0;\n        border-color: transparent #000 transparent transparent;\n        left: 0;\n    }\n\n    .right {\n        border-width: 10px 0 10px 20px;\n        border-color: transparent transparent transparent #000;\n        right: 0;\n    }\n\n    .glow {\n        box-shadow: 0 0 10px #000000;\n    }\n</style>\n\n<script>\n    (function(scope) {\n    // Initialize the direction variable\n    scope.direction = '';\n\n    // Subscribe to MQTT messages\n    scope.$watch('msg', function(msg) {\n      if (msg && msg.payload) {\n        // Update the direction based on the incoming MQTT message\n        scope.direction = msg.payload;\n      }\n    });\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 440,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "4897d884ed9e63b0",
        "type": "camerapi-takephoto",
        "z": "a11346eba6894f26",
        "filemode": "2",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "10",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 480,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "583380985abee14c",
        "type": "mqtt in",
        "z": "a11346eba6894f26",
        "g": "df2c7e55d486c380",
        "name": "Speed",
        "topic": "speed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "589472f842504b6e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "790047e3f67605a8",
                "2cb5d8bd82e8e30f",
                "5a86600c757dbea6",
                "a68b8051dbec0790"
            ]
        ]
    },
    {
        "id": "790047e3f67605a8",
        "type": "function",
        "z": "a11346eba6894f26",
        "g": "df2c7e55d486c380",
        "name": "function 3",
        "func": "//@ts-ignore\nm=msg.payload;\n//@ts-ignore\nt=msg.topic;\n//@ts-ignore\nif (m<='60'){\n    return { topic: \"LooseTopic\", payload: \"green\"}\n}\n//@ts-ignore\nelse {\n    return{ topic: \"LooseTopic\", payload: \"RED\"}\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 640,
        "wires": [
            [
                "9af644fa5792614d",
                "947f803fe8657c96"
            ]
        ]
    },
    {
        "id": "2cb5d8bd82e8e30f",
        "type": "debug",
        "z": "a11346eba6894f26",
        "g": "df2c7e55d486c380",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "5a86600c757dbea6",
        "type": "ui_gauge",
        "z": "a11346eba6894f26",
        "g": "df2c7e55d486c380",
        "name": "Speed",
        "group": "043839599a12b71e",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "160",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 540,
        "wires": []
    },
    {
        "id": "a68b8051dbec0790",
        "type": "ui_chart",
        "z": "a11346eba6894f26",
        "g": "df2c7e55d486c380",
        "name": "",
        "group": "043839599a12b71e",
        "order": 4,
        "width": 6,
        "height": 3,
        "label": "Speed Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "9af644fa5792614d",
        "type": "ui_led",
        "z": "a11346eba6894f26",
        "g": "df2c7e55d486c380",
        "order": 1,
        "group": "043839599a12b71e",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "RED",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 660,
        "wires": []
    },
    {
        "id": "947f803fe8657c96",
        "type": "ui_text",
        "z": "a11346eba6894f26",
        "g": "df2c7e55d486c380",
        "group": "043839599a12b71e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 720,
        "wires": []
    },
    {
        "id": "a81eb893f614f5c4",
        "type": "ui_spacer",
        "z": "a11346eba6894f26",
        "name": "spacer",
        "group": "bca4d37cd19606d0",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "8f72cfabc5913810",
        "type": "ui_spacer",
        "z": "a11346eba6894f26",
        "name": "spacer",
        "group": "bca4d37cd19606d0",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "08fb30121b060292",
        "type": "ui_spacer",
        "z": "a11346eba6894f26",
        "name": "spacer",
        "group": "bca4d37cd19606d0",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "312ebbbfeeb7aa6a",
        "type": "ui_spacer",
        "z": "a11346eba6894f26",
        "name": "spacer",
        "group": "bca4d37cd19606d0",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "0f9d04e213cf031e",
        "type": "ui_spacer",
        "z": "a11346eba6894f26",
        "name": "spacer",
        "group": "bca4d37cd19606d0",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "6cc52ca6c2f51a31",
        "type": "ui_spacer",
        "z": "a11346eba6894f26",
        "name": "spacer",
        "group": "bca4d37cd19606d0",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "4238696af9818047",
        "type": "ui_group",
        "name": "temperature",
        "tab": "dec9b62d90e16f58",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "589472f842504b6e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.43.24",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bca4d37cd19606d0",
        "type": "ui_group",
        "name": "direction",
        "tab": "dec9b62d90e16f58",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "043839599a12b71e",
        "type": "ui_group",
        "name": "Speed",
        "tab": "dec9b62d90e16f58",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dec9b62d90e16f58",
        "type": "ui_tab",
        "name": "platform1",
        "icon": "temperature",
        "disabled": false,
        "hidden": false
    }
]